QLabel {
}

QPushButton {
}

QLabel#greeting {
    font-size: 30px;
}

QLabel#prompt {
    font-size: 15px;
}

QLabel#orLabel {
}

QProgressBar {
    padding: 2px;
    text-align: center;
    /*border-top: 3px solid lightgray;*/
}

QProgressBar::chunk {
    background-color: lightblue;
}